# Server Configuration
NODE_ENV=development
PORT=3000
HOST=localhost

# FRONTEND URL
FRONTEND_URL=https://linesniff.damwebserver.com/

# STMP Configration Setup
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=harrybuter13@gmail.com
EMAIL_PASS=mmtkmmavdkcqzfcw
EMAIL_FROM="Line Sniff <harrybuter13@gmail.com>"

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/clean_architecture_db
MONGODB_URI_TEST=mongodb://localhost:27017/clean_architecture_test_db

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# Logging Configuration
LOG_LEVEL=info
LOG_FILE=logs/app.log

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Security
BCRYPT_ROUNDS=12 

# SSL KEY & CERT PATH
SSL_KEY_PATH=./certs/localhost.key
SSL_CERT_PATH=./certs/localhost.crt